<%= form_for([:admin, @promotion], html: {multipart: true}, data: { turbo: false }) do |f| %>
  <% if @promotion.errors.any? %>
    <%= render partial: 'shared/form_error', locals: { form_object: @promotion } %>
  <% end %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>
  <div class="mt-4">
    <%= link_to('Link', @promotion.document_url, target: '_blank') if @promotion.document? %>
    <%= f.file_field :document %>
  </div>

  <div>
    <%= f.submit 'Submit', class: 'btn-primary my-4' %>
  </div>
<% end %>
