<%= image_tag "sign_advice.png", class: 'min-w-full' %>
<div class="grid grid-cols-7">
  <div class="bg-red-100">
    <div class="flex flex-col left-menu js-left-menu">
      <%= link_to 'Advice', advices_path, class: 'left-menu-focused', data: { turbo_frame: :tf_content } %>
      <%= link_to 'Medical History', advice_path('medical_history'), data: { turbo_frame: :tf_content } %>
      <%= link_to 'Brushing', advice_path('brushing'), data: { turbo_frame: :tf_content } %>
      <%= link_to 'Extraction', advice_path('extraction'), data: { turbo_frame: :tf_content } %>
      <%= link_to 'Sensitivity', advice_path('sensitivity'), data: { turbo_frame: :tf_content } %>
      <%= link_to 'Denture', advice_path('denture'), data: { turbo_frame: :tf_content } %>
    </div>
  </div>
  <div class="col-span-4 p-4">
    <h2>Our Helpful Tips</h2>

    <div class="mt-4 content">
      <turbo-frame id="tf_content">
        <h4>Advice</h4>
        <p>These advice topics provide information that we trust will be of benefit to patients. Please feel free to download, or print any or all of these topics.</p>
        <p>We welcome feedback regarding our advice section. If there are more advice sections you would wish to see then please let us know.</p>
      </turbo-frame>
    </div>
  </div>
  <div class="col-span-2 hidden lg:block bg-yellow-100">
    <%= image_tag "sign_right_advice.png", class: "p-2 border border-gray-200 bg-white" %>
  </div>
</div>
