<%= image_tag "sign_advice.png", class: 'min-w-full' %>
<div class="lg:grid lg:grid-cols-7">
  <div class="bg-red-100">
    <div class="flex flex-col left-menu text-center lg:text-left" data-controller="left-menu">
      <%= link_to 'Advice', advices_path, class: add_focused_style_to_left_menu('advice', @partial), data: { turbo_frame: :tf_content } %>
      <%= link_to 'Medical History', advice_path('medical_history'), class: add_focused_style_to_left_menu('medical_history', @partial), data: { turbo_frame: :tf_content } %>
      <%= link_to 'Brushing', advice_path('brushing'), class: add_focused_style_to_left_menu('brushing', @partial), data: { turbo_frame: :tf_content } %>
      <%= link_to 'Extraction', advice_path('extraction'), class: add_focused_style_to_left_menu('extraction', @partial), data: { turbo_frame: :tf_content } %>
      <%= link_to 'Sensitivity', advice_path('sensitivity'), class: add_focused_style_to_left_menu('sensitivity', @partial), data: { turbo_frame: :tf_content } %>
      <%= link_to 'Denture', advice_path('denture'), class: add_focused_style_to_left_menu('denture', @partial), data: { turbo_frame: :tf_content } %>
    </div>
  </div>
  <div class="col-span-4 p-4">
    <h2>Our Helpful Tips</h2>

    <div class="mt-4 content">
      <turbo-frame id="tf_content">
        <%= render partial: @partial %>
      </turbo-frame>
    </div>
  </div>
  <div class="col-span-2 hidden lg:block bg-yellow-100">
    <%= image_tag "sign_right_advice.png", class: "p-2 border border-gray-200 bg-white" %>
  </div>
</div>
