<%= form_for([:admin, @product], data: { turbo: false }) do |f| %>
  <% if @product.errors.any? %>
    <%= render partial: 'shared/form_error', locals: { form_object: @product } %>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div>
    <%= f.label :weight %>
    <%= f.text_field :weight %>
  </div>

  <div>
    <%= f.label :product_category_id, "Category" %>
    <%= f.select(:product_category_id, options_for_select(ProductCategory.all.map { |c| [c.name, c.id]}, @product.product_category_id)) %>
  </div>

  <div>
    <%= f.submit 'Submit', class: 'btn-primary my-4' %>
  </div>
<% end %>
