<table>
  <tr>
    <th>Category</th>
    <th>Name</th>
    <th>Price</th>
    <th>Weight</th>
  </tr>

  <tr>
    <td><%= @product.product_category.name %></td>
    <td><%= @product.name %></td>
    <td><%= @product.price %></td>
    <td><%= @product.weight %></td>
    <td><%= link_to 'Edit', edit_admin_product_path(@product) %> | <%= link_to 'Back', admin_products_path %></td>
  </tr>
</table>
