<%= form_for([:admin, @product_category], data: { turbo: false }) do |f| %>
  <% if @product_category.errors.any? %>
    <%= render partial: 'shared/form_error', locals: { form_object: @product_category } %>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :weight %>
    <%= f.text_field :weight %>
  </div>

  <div>
    <%= f.submit 'Submit', class: 'btn-primary my-4' %>
  </div>
<% end %>
