<nav class="top-nav">
  <%= link_to "Home", homes_path, class: 'top-nav-focused', data: { turbo: false } %>
  <%= link_to "About Us", '#' %>
  <%= link_to "What We Do", '#' %>
  <%= link_to "Find Us", '#' %>
  <%= link_to "Advice", '#' %>
</nav>
