<!DOCTYPE html>
<html>
  <head>
    <title>Sunbury Dental Practice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "https://kit.fontawesome.com/966134bbe7.js", crossorigin: "anonymous" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="bg-sunbury-light">
    <main class="container mx-auto my-8 p-4 bg-white">
      <%= render partial: 'layouts/flash_notice_alert' %>
      <% unless cookies[:EU_COOKIE_LAW_CONSENT] %>
        <%= render partial: 'layouts/cookie_privacy_policy' %>
      <% end %>
      <%= render partial: 'layouts/header' %>
      <%= render partial: 'layouts/promotion', collection: @promotions %>
      <%= render partial: 'layouts/navs' %>
      <%= yield %>
      <hr class="my-4">
      <%= render partial: 'layouts/footer' %>
    </main>
  </body>
</html>
